.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/_BAK/
/_ALL_SITES/popolodelnuovomondo.app/.env.development
/_ALL_SITES/popolodelnuovomondo.app/.env.test
/_ALL_SITES/popolodelnuovomondo.app/.env.production
/_ALL_SITES/freeplanet.app/.env.test
/_ALL_SITES/freeplanet.app/.env.production
/_ALL_SITES/freeplanet.app/.env.development
/.env.development
/.env.test
/.env.production
/.env.prod.bak
!/_ALL_SITES/insiemesipuo.app/.env.test
!/_ALL_SITES/insiemesipuo.app/.env.production
!/_ALL_SITES/insiemesipuo.app/.env.development
