.listaev {
  color: black;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03333em;

  &__date {
    font-weight: bold;
    color: #2ba0fd;
    font-size: 1rem;
  }

  &__title {
    color: red;
    font-weight: 700;
    letter-spacing: 0.066em;
  }

  &__details {
    color: black;
  }

  &__tdimg {
    width: 150px;
    height: 150px;
  }

  &__table {
    margin: 10px;
    border-radius: 1rem;
    padding: 2px;
  }

  &__align_center_mobile {
    text-align: left;
    @media (max-width: 718px) {
      text-align: center;
      display: flex;
    }
  }

  &__img {
    padding: 0.5rem !important;
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 1rem;

    @media (max-width: 718px) {
      // PER VERSIONE MOBILE
      float: none;
      text-align: center;
      margin: 0 auto;
    }
  }

}
