$heightBtn: 100%;

.clMain {
  min-width: 350px;
}

.clVista {
  max-height: 400px !important;
}


.flex-container, .flex-container_col {
  background-color: rgb(250, 250, 250);
  padding: 2px 4px 2px 4px;
  margin: 2px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.q-tab-panel {
  padding: 8px;
}

.flex-container_col {
  flex-direction: column;
}

@media (max-width: 600px) {
  .flex-item {
    padding: 1px;
    margin: 1px;
  }

  .flex-container {
    margin: 0;
    padding: 0;
  }

  .q-tab-panel {
    padding: 4px;
  }

}

.mycard {
  visibility: hidden;
}

.myitemdrag {
  padding: 2px;
  //margin-top: 4px;
  border-width: 1px 0px 0px 0px;
  //border: solid 1px #ccc;
  border-style: solid;
  border-color: #ccc;
  transition: all .4s;
}

.titlePriority, .titleCompleted {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ccc;
  color: white;
}

.titleCompleted {
  background-color: #ccc;
}

.high_priority {
  background-color: #4caf50;
}

.medium_priority {
  background-color: #3846af;
}

.low_priority {
  background-color: #af2218;
}


.myitemdrag-enter, .myitemdrag-leave-active {
  opacity: 0;
}

.drag {
  //background-color: green;
}

.dragArea {
  min-height: 10px;
}


.categorytitle {
  color: blue;
  background-color: lightblue;
  font-size: 1.25rem !important;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.projecttitle {
  color: white;
  // color:blue;
  background-color: rgba(65, 152, 239, 0.6);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.itemdescr {
  font-size: 1rem;
  flex: 1;
}

.itemstatus {
  flex: 1;
  padding: 2px;
}

.itemdata {
  font-size: 1rem;
  flex: 1;
  padding: 1px;
}

.progress-item {
  margin: 1px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  flex: 1;
  order: 1;
}

.progrbar-item {
  //height: 10px
  padding-top: 7px;
  height: 10px;
}

.flex-icon {
  padding: 3px;
  font-size: 1.5rem;
}

.titleSubMenu {
  font-size: 0.7rem;
  font-weight: 350;
}

.draggatodraggato2 {
  display: inline-block;
}

.non-draggato {
  display: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.3;
  }
}

.divdrag {
  animation: fadeIn 0.2s ease-in 1 forwards;
  min-height: 50px;
  background-color: #9f9f9f;
}

.menuInputCompleted > div:nth-child(2) > div > input {
  min-width: 30px;
  width: 30px;
}

.percProgress {
  padding-top: 3px;
  color: #888;
  vertical-align: middle;
  text-align: center;
  //line-height: $heightitem;
}

.endwork_estimate {
  color: blue;
}
