li {
  color: darkgreen !important;
}

.testo-banda {
  //background: -webkit-gradient(linear, left top, left bottom, from(#3144f0), to(transparent));
  //background: linear-gradient(180deg, #3144f0, transparent);
  //background: rgba(0, 0, 0, .6)
}

$grayshadow: #555;

$textcol: blue;
$textcol_scuro: darkblue;

p {
  margin: 0 0 1.25rem;
  //text-shadow: .125rem .125rem .25rem $grayshadow;
}

h4 {
  font-size: 1.25rem;
}

.mycard {
  visibility: hidden;
}

.landing {
}

.landing_background {
  background: #000 url(../../../public/images/foto1.jpg) no-repeat 50% fixed;
  background-size: cover
}

.landing > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  //padding: 0 16px
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* flex-flow: row nowrap; */

  padding: 1.25rem 0 1.25rem 0;
  margin: .125rem;

  * {
    width: 100%;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  &__associazione {
    min-width: 350px;
  }

  &__comeassociarsi{
    min-width: 350px;
  }
}

.subtitle {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.landing > section.padding {
  padding: 5.62rem 1rem;
}

.landing > section.padding_testo {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.landing > section.padding_gallery {
  padding-top: 3.125rem;
  padding-bottom: 5.625rem;
}

.landing > section > div {
  position: relative;
  max-width: 1240px;
  width: 100%
}

.landing__toolbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(180deg, #000, transparent);
  padding: 0 !important
}

.landing__toolbar .q-btn {
  border-radius: 0 0 .315rem .315rem;
  -ms-flex-item-align: stretch;
  align-self: stretch
}

.landing__hero {
  min-height: 50vh
}

.landing__header {
  height: 18vh
}

.landing__arrow {
  bottom: 1.5rem;
  opacity: .4
}

.landing__front {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, rgba(0, 0, 0, .6)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .6) 15%)
}

.landing__logo {
  width: 9.40rem;
  height: 9.40rem;
  margin-top: 1.315rem;
  //-webkit-animation: logo-rotate 240s linear infinite;
  //animation: logo-rotate 240s linear infinite
}

.landing__features .q-icon {
  font-size: 4rem
}

h4 {
  line-height: 1.5;
  text-shadow: .25rem .25rem .5rem $grayshadow;
}

.landing__features h4, .landing__features h6 {
  margin: 1rem 0
}

.landing__features p {
  opacity: .7;
  font-size: 1rem;
  line-height: 1.5;
}

.landing__footer {
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, .1)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 95%, #FFF);
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #9f9f9f;
}

.icon_contact:hover {
  color: blue;
  border-color: white;
  border-width: .0625rem;
}

.landing__footer .doc-link {
  color: $textcol;
}

.landing__footer .doc-link:hover {
  opacity: .8
}

.landing__swirl-bg {
  background-repeat: no-repeat !important;
  background-position: top;
  background-size: contain !important;
  background-image: url(../../../public/images/landing_first_section.png) !important
}

.feat-descr {
  font-size: 1.15rem;
}

.feat-descr:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.9;
}

.q-col-gutter-sm {
  padding: 3.125rem 3.125rem;
  //margin-left: -48px
}

body.mobile .landing {
  //background: unset
}

body.mobile .landing:before {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  //background: #000 url(../../public/images/cover.jpg) 50%;

  background-size: cover
}

/*
@-webkit-keyframes logo-rotate {
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}

@keyframes logo-rotate {
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn)
  }
}
*/

.home {
  //background-color: rgb(250, 250, 250);
  padding: 3.125rem;
  display: flex;
  //flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn-start {
  margin: 3.125rem;
}

.shadow {
  //color: white;
  text-shadow: 0.125rem 0.125rem 0.25rem $grayshadow;
}

.shadow-max {
  //color: white;
  text-shadow: .25rem .25rem .5rem $grayshadow;
}

.text-h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -.01562em;
}

.text-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -.00833em;
}

.text-weight-bold {
  font-weight: 700;
}

.text-vers{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: .00937em;
  text-shadow: .25rem .25rem .5rem $grayshadow;
}

.homep-cover-img-1 {
  background: #000 url(../../../public/images/foto1.jpg) no-repeat 50% fixed;
  //transition: background-image 1s ease-in-out;
}

.homep-cover-img-2 {
  background: #000 url(../../../public/images/foto2.jpg) no-repeat 50% fixed;
  //transition: background-image 1s ease-in-out;
}

.homep-cover-img-3 {
  background: #000 url(../../../public/images/foto3.jpg) no-repeat 50% fixed;
  //transition: background-image 1s ease-in-out;
}

.homep-cover-img.hide-filter:before {
  opacity: 0
}

.landing__footer-icons {
  font-size: 1.75rem
}

.landing__footer-icons a {
  margin: 0 .5rem .5rem;
  text-decoration: none;
  outline: 0;
  color: $textcol;
  transition: color .28s
}

.landing__footer-icons a:hover {
  color: $textcol_scuro;
}

.doc-img {
  max-width: 100%;
}

.mylist {
  padding: 0.75rem;
  border-radius: 16px; border: 2px solid #00f7ff;
}

.clgutter {
  margin-top: 1.25rem;
  padding: .62rem;
}

.carousel_img_3 {
  //background-image: url(../../public/images/cibo_sano.jpg);
  background-size: cover !important;
  background-position: 50% center !important;
  background-repeat: no-repeat !important;
}


@media (max-width: 718px) {
  // PER VERSIONE MOBILE

  .landing__hero {
    text-align: center
  }
  .landing__header {
    height: 2vh
  }
  .clgutter {
    margin-top: 0;
    padding: 0;
  }
  .landing__hero .text-h1 {
    font-size: 3rem;
    line-height: 3.05rem;
    margin-bottom: 1.5rem
  }

  .landing > section.padding {
    padding: 2.5rem 1rem;
  }

  .landing > section.padding_testo {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }

  .landing > section.padding_gallery {
    padding-top: 3.125rem;
    padding-bottom: 5.625rem;
  }

  .landing__features h4, .landing__features h6 {
    margin: 1.25rem 0
  }

  h4 {
    line-height: 1.4;
    text-shadow: 0.25rem 0.25rem 0.5rem $grayshadow;
  }

  .landing .feature-item {
    text-align: center;
    margin-top: 1.25rem;
  }
  .landing__hero-content {
    padding-bottom: 3.5rem;
  }
  .landing__hero-btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .q-col-gutter-sm {
    padding: .625rem .315rem;
  }

  .text-subtitle1 {
    font-size: 1.25rem;
  }
  .text-vers{
    font-size: 0.6rem;
  }

  .carousel_img_3 {
    //background-image: url(../../public/images/cibo_sano.jpg);
    background-size: 620px 620px !important;
    background-position: 50% top !important;
    background-repeat: no-repeat !important;
  }

}

.custom-caption {
  text-align: center;
  padding: .75rem;
  color: $textcol;
  background-color: rgba(0, 0, 0, .3);
}

.mycontacts {
  color: gray;
  letter-spacing: 0.078rem;
}

.mycontacts_title {
  text-shadow: 0.125rem 0.125rem 0.125rem #555;
  font-weight: bold;
  color: #999;
  letter-spacing: 0.125rem;
}

.mycontacts_text {
  color: #999;
  letter-spacing: 0.093rem;
}



li {
  color: white !important;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 1rem;
  }

}

ul li::before {
  content: '\2713';
  color: #aefff5 !important;
  display: inline-block;
  width: 1em;
  margin-left: 20px;
  margin-right: 5px;
  @media (max-width: 600px) {
    margin-left: 5px;
  }
}
