.colmodif {
  cursor: pointer;
}


.colmodif:hover {
  background-color: #a8f0ff;
  cursor: pointer;
}

.colsel {
  background-color: #81b8ff;
}

.cldisable{
  color: gray !important;
}

.clinput{
  @media (max-width: 500px) {
    display: flex;
    flex-grow: 1;
  }
}
