.zoom_data{
  font-size:1rem;
  font-weight: bold;
  text-shadow: .05rem .05rem .05rem #3d3d3d;
  color: green;
}

.title {
  font-weight: bold;
}

.id_conf{
  font-weight: normal;
}

.note{
  font-style: italic;
}
