.signup {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clCellCode {
  border-radius: 32px;
  border-right: #2d2260;
  height: 50px;
  font-size: 1rem;
  padding: 8px;
}

.clCell {
  border-radius: 32px;
  border-right: #2d2260;
  height: 50px;
  font-size: 1rem;
  padding: 8px;
}

.vue-country-select{
  border-radius: 32px;
}

.myuserinvitante{
  font-weight: bold;
  color: red;
  font-size: 1.5rem;
}
