$heightBtn: 100%;

.progress-item {
  margin: 1px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  flex: 1;
  flex-direction: column;
  order: 1;
}

.cpr-progrbar-item {
  //height: 10px
  margin-top: 8px;
  margin-bottom: 8px;
  height:10px;
}

@media (max-width: 600px) {
  .cpr-progrbar-item {
    //height: 10px
    margin-top: 6px;
    margin-bottom: 6px;
    height: 8px;
  }

  .progress-item {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.cpr-slider-item {
  //height: 10px
}

.cpr-percProgress {
  padding-top: 3px;
  color: #888;
  vertical-align: middle;
  text-align: center;
  //line-height: $heightitem;
}
