
.svgclass {
  color: white;
  transform: translateY(0px);

}


.svgclass_animate {
  transform: translateY(-70px);
  color: red;
}

#sun {
  animation: gravity 5s infinite;

}

#logoimg {
  height: 50px;
  width: auto;
  @media screen and (max-width: 600px) {
  }
}

@keyframes gravity {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#smile {
  opacity: 0.1 !important;
  fill: red;
}

