.layout-padding {
  padding: 1em 4em;
}

.item-content {
  font-size: 0.8rem;
  font-weight: 350;
}

.q-toolbar__title{
  padding: 0 12px;
}

@media screen and (max-width: 600px) {
  .q-toolbar__title{
    padding: 0;
  }
  .layout-padding {
    padding: 1.5em .5em;
  }
}

.fixed-left:hover {
  cursor: ew-resize;
}

/*
@-webkit-keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromTopFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(0%);
    }
}
@keyframes moveFromTopFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(0%);
        transform: translateY(-50%);
    }
}


@-webkit-keyframes moveToRight {
    from {
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes cartOut {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(1200px, 0px);
        animation-timing-function: ease-out;
    }

}

@-webkit-keyframes moveToLeft {
    from {
    }
    to {
        opacity: .5;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveToLeft {
    from {
    }
    to {
        opacity: .5;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToBottom {
    from {
    }
    to {
        opacity: .5;
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveToBottom {
    from {
    }
    to {
        opacity: .5;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        opacity: .7;
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    from {
        opacity: .7;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
*/

.drawer-closer .item-content {
  margin-left: 20px !important;
}

.drawer-content .list-label {
  line-height: 25px;
}

.drawer-content .item {
  height: 25px;
}

.router-link-active .item-primary {
  color: #027be3;
}

.q-picker-textfield .q-picker-textfield-label {
  color: inherit !important;
}

.label-success .q-picker-textfield-label {
  color: #4caf50 !important;
}

.label-error .q-picker-textfield-label {
  color: #f44336 !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.label-success .q-picker-textfield:after, .label-error .q-picker-textfield:after {
  content: "" !important;
}

#android-preview iframe {
  margin-top: 64px;
  width: 357px;
  height: 590px;
  background: #fff;
}

#ios-preview iframe {
  margin-top: 64px;
  width: 320px;
  height: 590px;
  background: #fff;
}

canvas {
  width: 270px !important;
}

@media only screen and (min-width: 601px) {
  .adv-form-one .timeline-badge {
    right: auto !important;
    left: auto !important;
  }

  .adv-form-one .timeline-content {
    margin-left: 3.9rem;
  }

  .adv-form-one .timeline-item {
    width: 100% !important;
  }

  .adv-form-one .timeline-title {
    text-align: inherit !important;
    margin-left: 3.9rem;
  }

  .timeline:before {
    left: 1.6rem;
  }
}

.adv-form-one .timeline-content .group .primary {
  display: none !important;
}


.toolbar {
  min-height: 43px;
}

.right-itens a, .right-itens button {
  margin-right: 10px;
}

.sel_lang {
  padding: 5px;
  color: white;
}

.fa-facebook:before {
  content: url('../../../public/svg/flag_it.svg');
}

.clIconOnline {
  color: white;
}

.clIconOffline {
  color: red;
}

.flagimg {
  width: 30px;
  height: 24px;
}

.clCloudUpload {
  transition: all 1s ease-out;
  color: initial;
  &.send {
    transition: all 1s ease-in;
    background-color: lightgreen;
  }
  &.receive {
    transition: all 1s ease-in;
    background-color: yellow;
  }
  &.error {
    transition: all 1s ease-in;
    background-color: red;
  }
}

.clIndexeddb {
  transition: all 1s ease-out;
  color: initial;
  &.receive {
    transition: all 1s ease-in;
    background-color: yellow;
  }
  &.send {
    transition: all 1s ease-in;
    background-color: lightgreen;
  }
  &.error {
    transition: all 1s ease-in;
    background-color: red;
  }
}

.btnNewVersHide {
  display: none;
}

.btnNewVersShow {
  display: inline-block;
  padding: 4px 2px;
}

.text-user {
  text-shadow: .05rem .05rem .15rem #fff;
  background-color: limegreen;
  border-radius: 1rem !important;
  text-align: center;
  margin: 1px;
  margin-bottom: 5px;
}

.text-cart {
  font-size: 1.15rem;
  text-shadow: .05rem .05rem .15rem #fff;
  background-color: limegreen;
  border-radius: 1rem !important;
  text-align: center;
  margin: 1px;
  margin-bottom: 5px;
}

.roundimg  {
  border-radius: 50% !important;
  color: red;
  background-color: red;
}

.titlesite {
  font-size: 1rem;
}
