.landing__swirl-bg {
  background-repeat: no-repeat !important;
  background-position: top;
  background-size: contain !important;
  background-image: url(../../statics/images/landing_first_section.png) !important
}

.landing__features {
  opacity: .9;
  font-size: 1rem;
  line-height: 1.5;
}
