$heightBtn: 100%;
$grayshadow: #555;

.text-subtitle-gallery {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: .00937em;
  text-shadow: .1rem .1rem .1rem $grayshadow;
}

@media (max-width: 718px) {
  // PER VERSIONE MOBILE
  .text-subtitle-gallery {
    font-size: 1rem;
  }
}

.myimg {
  border-radius: 10px !important;
  height: 200px;
  cursor: pointer;
}

.myimg-modify {
  cursor: grab;
}


.barwidth {
  width: 250px !important;
}


.q-img {
  &__image {
    border-radius: 10px !important;
  }
}

.my-card-gallery {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 0.5rem 0.5rem;
  height: 350px;
  margin: auto;
}

.my-card-gallery-noModif {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 1rem 1rem;
  height: 220px;
}


.my-card-gallery-view {
  width: 100px;
  height: 100px;
  padding: 0.25rem 0.25rem;
  margin: auto;
}

.accom_type{
  font-size: 1rem;
  font-weight: bold;
  margin-right: 4px;
  padding-top: 10px;
}

.accom_location{
  font-size: 1rem;
  padding-top: 10px;
  margin-right: 4px;
  font-style: italic;
}
