.prova{
  color: red;
}
.q-list-header {
  min-height: 12px;
  padding: 5px 8px;
}

.menu-hr {
  border-color: #dedede;
  height: 0.5px;
}

.router-link-active {
  color: #027be3;
  background-color: #dadada !important;
  border-right: 2px solid #027be3;
}

.list-label:first-child {
  line-height: 20px;
  padding: 5px;
  margin: 1px;
}

.router-link-active {
  color: #027be3;
  background-color: #dadada !important;
  border-right: 2px solid #027be3;
}

.router-link-active .item-primary {
  color: #027be3;
}

.menu_freccina {
  position: absolute;
  right: 10px;
  display: inline-block;
  padding: 0 0 0 0;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.my-menu, .my-menu > i{
  min-height: 40px;
  min-width: 26px;
  font-size: 1rem;
}

.my-menu-small, .my-menu-small > i{
  min-height: 40px;
  min-width: 26px;
  font-size: 0.75rem;
}

.isAdmin {
  color: red !important;
}

.isSocioResidente {
  color: darkgreen;
}

.isCalendar {
  color: #fff241;
}

.isManager {
  color: green !important;
}

.isTutor {
  color: #201a80;
}

.my-menu-icon{
  min-width: 2px;
  font-size: 1rem;
}

.my-menu-icon > i{
  min-width: 26px;
  font-size: 1.25rem;
}

.clexpansion{
  min-width: 0 !important;
}

.my-menu-active {
  background-color: rgba(174, 189, 241, 0.71);
}

.my-menu-separat > i{
  min-width: 26px;
  font-size: 1rem;
}

.my-menu-icon-none > i{
  display: none;
}

.clicon img, .clicon {
  font-size: 16px;
}

.q-item__section--avatar{
  min-width: 30px;
}

.q-item__section--side{
  padding-right: 8px;
}


.imgicon img {
  font-size: 2.5rem !important;
  border-radius: 8px;
}


/*
.menu-enter-active, .scale-enter {
    -webkit-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.menu-leave-to, .scale-leave-active {
    -webkit-animation: moveToBottom .5s ease both;
    animation: moveToBottom .5s ease both;
}
*/

