// Animations
// slideFromBottom
.slideFromBottom-enter, .slideFromBottom-leave-to {
  transform: translate(0px, 10em);
}

.slideFromBottom-enter-to, .slideFromBottom-leave {
  transform: translate(0px, 0px);
}

.slideFromBottom-enter-active {
  transition: transform .2s ease-out;
}

.slideFromBottom-leave-active {
  transition: transform .2s ease-in;
}

.tothebottomfixed {
  position: fixed;
  left: 0;
  right: 60px;
  bottom: 0;
  height: -100%;
  z-index: 1000;
}

.margin_buttons_cook {
  margin: -8px -8px;
}

.margin_buttons_cook > * {
  margin: 8px 8px !important;
}
