.colmodif {
  cursor: pointer;
}

.coldate {
  max-width: 250px;
  min-width: 200px;
}

.tdclass, .trclass{
  min-height: 20px !important;
}

.q-table td {
  padding-left: 1px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
  &__title {
    font-size: 1rem;
  }
}

.q-table {
  &__col {
    font-size: 1rem;
    color: gray;
  }
}

.newrec_fields{
  display: flex;
  padding: 2px;
  margin: 2px;
  align-items: center;
  justify-content: center;
}
