.lista {
  text-align: left;
  font-size: 0.75rem;
}

.step{
  font-size: 1.15rem;
  font-weight: bold;
  color: blue;
  line-height: 1.75rem;
  letter-spacing: .01em;
}

.grass{
  font-weight: bold;
}
