.text-cls{
  font-weight: bold;
}

.my-text {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.0125em;
}

.my-text_3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.0125em;
}

.my-text-small {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.0125em;
}

.mybox_3 {
  min-width: 100px;
  min-height: 100px;

  width: 100%;
}

.mybox {
  min-width: 112px;
  min-height: 112px;

  width: 100%;
}

.mybox_small {
  min-width: 110px;
  width: 100%;
}
