.messages_page{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 400px;
}

.title_msg{
  font-weight: bold;
}

.user{
  font-weight: bold;
}

.active-user{
  color:blue;
  background-color: rgba(174, 189, 241, 0.71);
  border-radius: 1rem !important;
}

.chat-list{
  border-radius: 20px;
}

.chat_dest{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.chat_my{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.bottomfixed {
  // right: 0;
  // position: fixed;
  z-index: 9999;
  // box-sizing: border-box;
  margin-right: 0;
  margin-left: auto;
  // bottom: 0;
}
